@use "../../../../../public/assets/styles/variables" as *;
@use "../../../../../public/assets/styles/mixins" as *;
@use "../../../../../public/assets/styles/data-form" as *;
@use "../../../../../public/assets/styles/personal" as *;


.info {
    padding:  clamp-f(20, 50) 0 clamp-f(20, 128);
    position: relative;
    overflow: hidden;

    @include small-desktop {
        padding: 0 0 clamp-f(20, 80);
    }

    .data-form .button {
        width: 169px;

        @include font-styles('body');
    }

    .page-image {
        position: absolute;
        bottom: 0;
        right: calc(50% - clamp-f(380, 700));
        z-index: -1;
        width: clamp-f(430, 1025, 500, 1320);

        img {
            vertical-align: bottom;
        }
    }
}
