@use "../../../../../public/assets/styles/auth_form";
@use "../../../../../public/assets/styles/variables" as *;
@use "../../../../../public/assets/styles/mixins" as *;

.login {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    min-height: calc(100vh - clamp-f(200, 222, 992, 1320));

    @include tablet {
        min-height: calc(100vh - clamp-f(119, 200, 360, 991));
    }

    .container {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .page-image {
        margin-left: 49px;
        align-self: end;
        pointer-events: none;

        @include mobile {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: 0;
        }

        img {
            vertical-align: bottom;
        }
    }

    .auth-form {

        @include mobile {
            margin: 0 auto 80px;
        }
    }
}

