@use "../../../../../public/assets/styles/variables" as *;

.catalog-filter {
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 16px;
  color: $gray-text-color;

  .catalog-filter-head {
    background: $green-filter-bg-color;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 23px;
    cursor: pointer;
  }

  &.open .catalog-filter-head {
    border-radius: 5px 5px 0 0;
    svg {
      transform: rotate(180deg);
    }
  }

  .catalog-filter-body {
    box-sizing: border-box;
    display: none;
    padding: 12px 16px;
    border: 1px solid $green-filter-bg-color;
    border-radius: 0 0 5px 5px;

    .catalog-filter-checkbox {
      display: flex;
      align-items: baseline;
      margin-bottom: 19px;
      line-height: 130%;

      input {
        margin-right: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .catalog-filter-from-to {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &.open .catalog-filter-body {
    display: block;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

